:host {
  all: initial;
  display: block;
}

div {
  display: flex;
  padding: 1em;
  background: var(--my-tab-background, rosybrown);
}

section {
  padding: 1em;
  background: royalblue;
}

::slotted(div) {
  color: hotpink;
  background: fuchsia;
}

section ::slotted([hidden]) {
  display: none;
}
